<h1>PriceCard Maker Manual:</h1>
<br>
<div class="btn-group">
  <a href="/home/welcome" class="btn btn-info-outline">
    <clr-icon shape="home"></clr-icon>
    Home screen
  </a>
  <a href="/home/editor" class="btn btn-info-outline">
    <clr-icon shape="note"></clr-icon>
    to editor
  </a>
</div>


<div class="clr-row">
  <div class="clr-col-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Step 1: Use Chrome</h4>
        <p class="card-text">
          To use some of the features of this application you will need a Chrome based browser (Chrome, Opera or Brave)
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Step 2: Choose the correct printer and color</h4>
        <p class="card-text">
          On the right side of the print pop-up you will find some settings to choose the correct printer please do
          this.
          you will also find the possibility to print in color or in black and white
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Step 3: Correct margins</h4>
        <p class="card-text">
          At the bottom of the previously mentioned pop-up you will find the advanced settings, open it.
          Once opened you will find the setting to change the margins. Set the margins to "None"
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">
          Step 4: Branding</h4>
        <p class="card-text">
          Underneath the previously mentioned margins settings you will also find the setting to enable
          background-graphics.
          Enable this, otherwise you won't have any branding / logo on your printed priceCard
        </p>
      </div>
    </div>

  </div>
  <div class="clr-col-6">
    <div class="card">
      <div class="card-img">
        <img src="assets/images/computer-content-control.jpg">
      </div>
    </div>
  </div>
</div>
