<app-search (SearchEventEmitter)="searchUsers($event)" searchForTitle="users"></app-search>

<clr-datagrid>
  <clr-dg-column>Username</clr-dg-column>
  <clr-dg-column>email</clr-dg-column>
  <clr-dg-column>Role</clr-dg-column>
  <clr-dg-column>Active</clr-dg-column>

  <clr-dg-row *clrDgItems="let user of users; let i = index">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="goToUser(user._id)">Edit</button>
      <button class="action-item" (click)="deactivateUser(user._id)">deactivate</button>
    </clr-dg-action-overflow>
    <clr-dg-cell (click)="goToUser(user._id)">{{user.username}}</clr-dg-cell>
    <clr-dg-cell (click)="goToUser(user._id)">{{user.email}}</clr-dg-cell>
    <clr-dg-cell (click)="goToUser(user._id)">{{user.role}}</clr-dg-cell>
    <clr-dg-cell (click)="goToUser(user._id)">{{user.active}}</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
