<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8">
    <div class="card">
      <div class="card-header">
        User info: {{currentUser.username}}
      </div>
      <div class="card-block">
        <div class="card-text">
          Account status: {{userStatus}}
          <br>
          Account role: {{currentUser.role}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Change User info
      </div>
      <div class="card-block">
        <div class="card-text">
          <form clrForm [formGroup]="userForm">

            <clr-input-container>
              <label>Username:</label>
              <input clrInput type="text" placeholder="Username" name="username" formControlName="username"
                     class="wider"/>
            </clr-input-container>

            <clr-input-container>
              <label>Email:</label>
              <input clrInput type="text" placeholder="Email" name="email" formControlName="email" class="wider"/>
            </clr-input-container>

          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-success" (click)="changeUserinfo(userForm.value)">save userinfo</button>
      </div>
    </div>
    <app-password-reset [userID]="currentUser._id"></app-password-reset>
  </div>
  <div class="clr-col-2"></div>
</div>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
  <h3 class="modal-title">Changes saved successfully</h3>
  <div class="modal-body">
    <p>You will need to logout and login again for the changes to take place</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">
      Ok, I understand!
    </button>
  </div>
</clr-modal>


