<div class="main-container">
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" class="noPrint"
                      *ngIf="currentUser?.active === true">

      <clr-vertical-nav-group routerLinkActive="active" class="noPrint" *ngIf="env.PriceCardMaker">
        <clr-icon clrVerticalNavIcon shape="printer"></clr-icon>
        PriceCard maker
        <clr-vertical-nav-group-children class="noPrint">
          <a clrVerticalNavLink
             routerLink="/pricecard/editor"
             routerLinkActive="active">
            Editor
          </a>
          <a clrVerticalNavLink
             routerLink="/pricecard/pricecard"
             routerLinkActive="active">
            Manual
          </a>
          <a clrVerticalNavLink
             routerLink="/pricecard/pricecardprev"
             routerLinkActive="active">
            Previous pricecards
          </a>
          <a clrVerticalNavLink
             routerLink="/pricecard/pricetemplate"
             routerLinkActive="active">
            Pricecard templates
          </a>

        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active" class="noPrint" *ngIf="env.Guides">
        <clr-icon clrVerticalNavIcon shape="book"></clr-icon>
        Guides
        <clr-vertical-nav-group-children class="noPrint">
          <a clrVerticalNavLink
             routerLink="/guides/guides"
             routerLinkActive="active">
            Read guides
          </a>
          <a clrVerticalNavLink
             routerLink="/guides/guide/editor"
             routerLinkActive="active"
             *ngIf="isAdmin">
            New guide
          </a>
          <a clrVerticalNavLink
             routerLink="/guides/guide/manual"
             routerLinkActive="active"
             *ngIf="isAdmin">
            Manual
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLink="./forum" routerLinkActive="active" *ngIf="env.Form">
        <clr-icon clrVerticalNavIcon shape="note"></clr-icon>
        Forum
      </a>
      <a clrVerticalNavLink routerLink="./monitor" routerLinkActive="active" *ngIf="env.Monitor">
        <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>
        Monitor
      </a>
      <a clrVerticalNavLink routerLink="./users" routerLinkActive="active" *ngIf="env.Users">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
        Users
      </a>
      <clr-vertical-nav-group
        routerLinkActive="active" *ngIf="isAdmin">
        <clr-icon clrVerticalNavIcon shape="administrator"></clr-icon>
        Admin
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink
             routerLink="/admin/users"

             routerLinkActive="active">
            Users
          </a>
          <!--          <a clrVerticalNavLink-->
          <!--             routerLink="./admin/settings"-->
          <!--             routerLinkActive="active">-->
          <!--            Settings-->
          <!--          </a>-->
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink routerLink="/home/feature" routerLinkActive="active" *ngIf="env.featureRequest">
        <clr-icon clrVerticalNavIcon shape="clipboard"></clr-icon>
        Feature request
      </a>

      <!--      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a>-->
    </clr-vertical-nav>
    <div class="content-area doPrint">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
