<!--TODO: add three js thingy here-->
<div class="main-container">
  <div class="main-content">
    <div class="clr-row">
      <div class="clr-col-lg-12 clr-col-12">
        <a href="" class="card clickable">
          <div class="card-img">
            <div class="index-image">
            </div>
          </div>
          <div class="card-block">
            <p class="card-text">
              Comming soon
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
